$primary: #3a8dc5;
$secondary: #3a8dc5;
$invers: rebeccapurple;
$light: #a2c2e4;
$dark: #000d6d;
$info: #0cb3a3;
$success: #006000;
$warning: #FF9800;
$danger: #b22222;

$primary_text_color: #000000;
$secondary_text_color: #717171;

$modal-content-bg: white;
$modal-content-color: #000c19;
$modal-header-border-color: transparent;

$body-bg: #a2c2e42b;
$body-color: #5a5758;

$text-muted: $secondary_text_color;

$bg-pre: $secondary;

$border-loader_wrapper-outer_spin: #3498db;
$border-loader_wrapper-middle_spin: #e74c3c;
$border-loader_wrapper-inner_spin: #f9c922;

$bg-answer-result-correct: $success;
$fg-answer-result-correct: $light;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $light;
$bg-answer-result-wrong: $danger;
$fg-answer-result-wrong: $light;

$progress-bg: transparent;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: none;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$btn-disabled-opacity: 0.58;

$statistics-icon-opacity: 0.2;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
    $theme-colors,
    (
      invers:$invers,
    )
);

$colors: map-merge(
    $colors,
      (
      )
);

$bg-footer: $light;
$footer-color: $primary_text_color;

$colorChangingBg: (
  0: (fg: white, bg: black),
  50: (fg: white, bg: black),
  100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
  0: (fg: black, bg: #ffbb56),
  25: (fg: black, bg: #ffa218),
  50: (fg: black, bg: #ff9800),
  75: (fg: black, bg: #ffa218),
  100: (fg: black, bg: #ffbb56)
);

$colorChangingArs: (
  0: (fg: $primary, bg: transparent),
  25: (fg: $danger, bg: transparent),
  50: (fg: $warning, bg: transparent),
  75: (fg: $primary, bg: transparent),
  100: (fg: $primary, bg: transparent)
);

$colorChangingNova: (
  0: (fg: $primary, bg: transparent),
  25: (fg: $primary, bg: transparent),
  50: (fg: $danger, bg: transparent),
  75: (fg: $warning, bg: transparent),
  100: (fg: $primary, bg: transparent)
);

$colorChangingDot: (
  0: (fg: $primary, bg: transparent),
  25: (fg: $danger, bg: transparent),
  50: (fg: $warning, bg: transparent),
  75: (fg: $primary, bg: transparent),
  100: (fg: $primary, bg: transparent)
);

$colorChangingClick: (
  0: (fg: $primary, bg: transparent),
  25: (fg: $primary, bg: transparent),
  50: (fg: $danger, bg: transparent),
  75: (fg: $warning, bg: transparent),
  100: (fg: $primary, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".westermann": #545859);

$code-color: $primary_text_color;

@import "postbuild";

$popover-body-color: initial;

.card {
  color: $secondary_text_color
}
